# Database
POSTGRES_DB=watheeq
POSTGRES_USER=watheeq_user
POSTGRES_PASSWORD=watheeq_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1

# Recall (for meeting bot)
RECALL_API_KEY=your_recall_key_here

# Ngrok (optional but needed for webhooks)
NGROK_AUTHTOKEN=your_ngrok_token_here

#Grok 
GROQ_API_KEY=your_groq_key_here



#.......................................

RECALL_API_KEY=...
NGROK_AUTHTOKEN=...

GROQ_API_KEY_TASK1=...
GROQ_API_KEY_TASK2=...
GROQ_API_KEY_TASK3=...
GROQ_API_KEY_TASK4=...